*, *::after, *::before {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
    --DeepBlue: #0021f3;
}

html {
    font-size: 62.5%;
}

body { /*1rem = 10px*/
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    text-align: center;
    background-image: linear-gradient(
        to top, var(--grisClaro) 0%, 
        var(--blanco) 20%
        );
}

section, footer {
    margin: 4%;
}

/* main {
    margin: 4%;
} */

header {
    margin: 2% 4% 2% 4%;
}

.titulo, 
.vinculo {
    font-size: 3.8rem;
    text-decoration: none;
    color: black;
}

.titulo span {
    font-size: 2rem;
}

h1, h2, h3 {
    text-align: center;
}

.navegacion-principal {
    background-color: var(--secundario);
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.navegacion-principal a {
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    display: inline-block;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: black;
    text-decoration: none;
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
    .navegacion-principal {
        background-color: var(--secundario);
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .navegacion-principal a {
        padding: 1rem 3rem;
        text-decoration: none;
        font-weight: 700;
        font-size: 2rem;
        color: white;
        display: block;
    }
    
    .navegacion-principal a:hover {
        background-color: var(--primario);
        color: black;
        text-decoration: none;
    }
}

.hero {
    /* padding: 4%; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 1), 
    rgba(0, 0, 0, 0.5)), url(../img/ImagenPrincipal.jpg); */
    /* background-attachment: fixed; */
    background-image: url(../img/ImagenPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    margin: 0%;
    padding: 0%;
}

.contenido_hero {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding: 9rem 0rem 7rem 0rem;
    margin: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido_hero h2 {
    font-weight: 700;
    /* color: var(--blanco); */
    font-size: 3rem;
}

/* .titulo2, 
.freelancer, 
.icono, 
.instituto, 
.contactar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .foto_con_fondo::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
} */

.contacto1 {
    text-align: center;
    margin: 0% 0% 0% 0%;
    padding: 0;
}

.contacto2 {
    text-align: center;
    margin: 0% 0% 2% 0%;
    padding: 0;
}

.titulo2, .freelancer, .instituto {
    color: white;
}

/* .titulo2, .freelancer, .combinacion1 {
    margin-bottom: 3rem;
} */

.titulo2 {
    margin-bottom: 3rem;
}

.combinacion1 {
    margin-bottom: 2rem;
}

.freelancer {
    margin-bottom: 1rem;
}

.combinacion1 {
    /* display: flex;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .icono1, .instituto {
    display: block;
}


.instituto {
    margin: 0%;
    padding: 4% 0% 0% 0%;
}

@media only screen and (max-width: 600px) {
    .titulo2, .combinacion1 {
        margin-bottom: 3rem;
    }
    
    .freelancer {
        margin-bottom: 0.5rem;
    }
    
    .combinacion1 {
        display: flex;
        justify-content: center;
    }
    
    .icono1, .instituto {
        display: block;
    }
    
    .instituto {
        margin: 0%;
        padding: 8% 0% 0% 0%;
    }    
} */

.boton1 {
    /* margin-top: 2rem; */
    margin: 0rem;
    background-color: var(--secundario);
    padding: 1rem 3rem;
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: none;
    text-align: center;
}

/* @media (min-width: 768px) {} */
@media only screen and (max-width: 600px) {
    .boton1 {
        margin: 0rem;
        background-color: var(--secundario);
        padding: 1rem 3rem;
        color: var(--blanco);
        font-weight: 700;
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        border-radius: 0.8rem;
        border: none;
        text-align: center;
        /* display: flex;
        flex-grow: 100; */
        width: 90%;
    }
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.contenedor {
    max-width: 120rem;
    margin: 2rem auto 0.5rem auto;
}

@media only screen and (max-width: 1400px) {
    .contenedor {
        max-width: 100rem;
        height: auto;
        margin: 2rem auto 0.5rem auto;
    }    
}

@media only screen and (max-width: 1140px) {
    .contenedor {
        max-width: 80rem;
        height: auto;
        margin: 2rem auto 0.5rem auto;
    }    
}

@media only screen and (max-width: 900px) {
    .contenedor {
        max-width: 60rem;
        height: auto;
        margin: 2rem auto 0.5rem auto;
    }    
}

@media only screen and (max-width: 768px) {
    .contenedor {
        max-width: 50rem;
        height: auto;
        margin: 2rem auto 0.5rem auto;
    }    
}

@media only screen and (max-width: 600px) {
    .contenedor {
        max-width: 40rem;
        height: auto;
        margin: 2rem auto 0.5rem auto;
    }    
}

@media only screen and (max-width: 480px) {
    .contenedor {
        max-width: 30rem;
        height: auto;
        margin: 2rem auto 0.5rem auto;
    }    
}

.sombra {
    background-color: var(--blanco);

    -webkit-box-shadow: 1px -2px 11px -1px rgba(87,86,87,0.57);
    -moz-box-shadow: 1px -2px 11px -1px rgba(87,86,87,0.57);
    box-shadow: 1px -2px 11px -1px rgba(87,86,87,0.57);

    border-radius: 1rem;
    padding: 2rem 2rem 2rem 2rem;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    /* margin-bottom: 2.5rem; */
    /* display: flex; */
    /* grid-template-columns: 350px 350px 350px; */
    /* grid-template-columns: 1fr 2fr 1fr; */
}

@media only screen and (max-width: 1400px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        /* margin-bottom: 2.5rem; */
    } 
}

@media only screen and (max-width: 1140px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        /* margin-bottom: 2.5rem; */
    }    
}

@media only screen and (max-width: 900px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        /* margin-bottom: 2.5rem; */
    }   
}

@media only screen and (max-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        /* margin-bottom: 2.5rem; */
    }     
}

@media only screen and (max-width: 600px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        /* margin-bottom: 2.5rem; */
    }     
}

@media only screen and (max-width: 480px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;
        /* margin-bottom: 2.5rem; */
    }   
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

.column1, .column2, .column3 {
    display: grid;
    margin-bottom: 2.5rem;
    /* grid-template-columns: repeat(3, 1fr); */
    /* column-gap: 1rem;     */
}

.main1, .main2, .main3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.part1, .part2, .part3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

.main1, .main3 {
    height: auto;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.main2 {
    height: auto;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.iconos {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iconos {
    background-color: var(--primario);
}

/* .icono2, .icono5 {
    background-color: var(--primario);
    border-radius: 100%;
    padding: 55px;
}

.icono3 {
    background-color: var(--primario);
    border-radius: 100%;
    padding: 55px 0px 55px 55px;
}

.icono4 {
    background-color: var(--primario);
    border-radius: 100%;
    padding: 55px 55px 55px 0px;
} */

/* .icon_combi {
    background-color: var(--primario);
    margin: 0%;
    padding: 0%;
    width: 40rem;
    height: 15.2rem;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primario);
}

.campo {
    margin-bottom: 1.5rem;
}

.campo label {
    display: block;
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
}

label {
    text-align: left;
}

/* .w90 {
    width: 90%;
} */

.boton2 {
    margin: 0rem;
    background-color: var(--secundario);
    padding: 1rem 3rem;
    color: var(--blanco);
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: none;
    text-align: center;
    width: 90%;    
}

.my_services {
    margin-bottom: 1.5rem;
}

.service1, .service2, .service3 {
    margin-bottom: 1rem;
    color: var(--secundario);
    text-shadow: 1px 1px black;
}

.p1, .p2, .p3 {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background-color: var(--secundario); */
    margin: 0 auto 0 auto;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
    padding: 0.5%;
}

.boton2:hover {
    cursor: pointer;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

/* proyectotabla.html */
.tabla {
    /* margin: auto 30% auto 30%; */
    margin-left: auto; 
    margin-right: auto;
}

.tabla, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: red;
}

th, td {
    padding: 2px;
}

.color_dif {
    background-color: gray;
}

.linkst {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/

/* width */
::-webkit-scrollbar {
    width: auto;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primario);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blueviolet;
}

html, body {
    overflow-x: hidden;
    scrollbar-color: #FFC107 black;
    scrollbar-width: auto;
}

/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
/****************************************************************************************************/
